.iconBlockList {
	color:  #393939;
	h2 {
		text-transform: uppercase;
	}
	p {
		font-size: 24px;
	}
}
div.child {
	
}
.arrowGorizontalLeft {
    margin-left: -923px;
    margin-top: 51px;
}
.arrowGorizontalRight {
	margin-left: 420px;
    margin-top: 51px;
}
.child p {
    color: #000000;
    border: 8px solid #53addc;
    border-radius: 25px;
}